@media only screen and (max-width:739px){
    .search{
        display: none;
    }
    .background-about h2.title {
        position: absolute;
        top: 50%;
        margin-left: 45%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .container {
        width: 300px !important;
    }
    .slider2{
        border-bottom: 1px solid #cecde9;
    }
    .our-game{
        border-bottom: 1px solid #cecde9;
    }
    /*our game */
    .our-game{
        background: #100e2e;
    }
    .content-game{
        text-align: center;
    }
    .title-our-game{
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
    }
    .content-game p{
        margin-top:0.7rem;
        width: 250px;
        /* margin-left: 20%; */
        color: #cecde9 !important;
    }
    .best-product{
        margin-top:2rem;
       
    }
    .product-left{
        width:98%;
        margin-top:1rem ;
    }
    .product-right{
        width:98%;
        margin-top:1rem;
    }
    /*contact */
    .information{
        width:98%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:98%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:98%;
        padding:2rem;
    }
}

/* tablet  */
@media only screen and (min-width:740px) and (max-width:1023px){
    .search{
        display: none;
    }
    .background-about h2.title {
        position: absolute;
        top: 50%;
        margin-left: 40%;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    /*contact */
    .information{
        width:49%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:49%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:49%;
        padding:2rem;
    }
    
}