/* Reponsive moblie */
@media only screen and (max-width:739px){
    .container {
        width: 400px !important;
    }
    .search{
        display: none;
    }
    .layer1-1 h1 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
        letter-spacing: 0px;
    }
    .layer1-2{
        display: none;
    }
    .layer1-3 a {
        margin-top: 0px;
        padding: 8px 0px !important;
        border: 1px solid #EC9123;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-size: 14px !important;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.4s ease 0s;
        background: #EC9123;
        width: 130px !important;
        border-radius: 2px;
    }
    span#btn-next {
       display: none;
    }
    span#btn-prev {
        display: none;
     }
     /*our game */
    .our-game{
        background: #100e2e;
    }
    .content-game{
        text-align: center;
    }
    .title-our-game{
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
    }
    .content-game p{
        margin-top:0.7rem;
        width: 250px;
        color: #cecde9 !important;
    }
    .best-product{
        margin-top:2rem;
       
    }
    .product-left{
        width:98% !important;
        margin-top:1rem ;
    }
    .product-right{
        width:98% !important;
        margin-top:1rem;
    }
    /* our gallery */
    
    .title-our-gallery{
        display: inline-block;
        font-size: 27px;
        font-weight: 600;
        line-height: 24px;
        text-transform: capitalize;
    }
    .menu-img ul{
        padding:0;
    }
    .menu-img li{
        list-style: none;
        margin-left:1rem;
    }
    .hinh{
        width:98%;
        padding-left:1rem;
        padding-right:1rem;
        margin-top:1rem;
    }
    /* competition */
    .competition-left{
        width:98%;
    }
    .tab-img{
        display: none;
    }
    .tab-competition{
        display:block;
        font-size: 1.2rem;
    }
    .competition-right{
        width:98%;
    }
    /* game */
    .game-new-left{
        width:98%;
        margin-right:1rem;
    }
    .game-new-right{
        width:98%;
        margin-top:2rem;
    }
    .game-item{
        display: block !important;
    }
    .game{
        display: block;
    }
    .back-to-top{
        display: none;
    }
    /*contact */
    .information{
        width:98%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:98%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:98%;
        padding:2rem;
    }
}

/* tablet  */
@media only screen and (min-width:740px) and (max-width:1023px){
    .search{
        display: none;
    }
    .layer1-1 h1 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
        letter-spacing: 0px;
    }
    .layer1-2{
        display: none;
    }
    .layer1-3 a {
        margin-top: 0px;
        padding: 8px 0px !important;
        border: 1px solid #EC9123;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-size: 14px !important;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.4s ease 0s;
        background: #EC9123;
        width: 130px !important;
        border-radius: 2px;
    }
    /* our gallery */
    
    .title-our-gallery{
        display: inline-block;
        font-size: 47px;
        font-weight: 600;
        line-height: 34px;
        text-transform: capitalize;
    }
    .menu-img ul{
        padding:0;
    }
    .menu-img li{
        list-style: none;
        margin-left:1rem;
    }
    .hinh{
        width:49%;
        padding-left:1rem;
        padding-right:1rem;
        margin-top:1rem;
    }
    /* competition */
    .competition-left{
        width:98%;
        display:block;
    }
    .tab-competition{
        display:block;
        font-size: 1.2rem;
    }
    .competition-right{
        width:98%;
    }
    /* game */
    .game-new-left{
        width:98%;
        margin-right:1rem;
    }
    .game-new-right{
        width:98%;
        margin-top:2rem;
    }
    .game-item{
        display:flex !important;
    }
    .game{
        display: flex;
    }
    .blog-right-colum{
        display: flex;
    }
    .blog-right{
        width:49%;
        margin-right:1rem;
    }
    .blog-right2{
        margin-top:0;
        margin-left:1rem;
    }
    .back-to-top{
        display: none;
    }
    .back-to-top{
        display: none;
    }
    /*contact */
    .information{
        width:49%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:49%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:49%;
        padding:2rem;
    }
    
}