@media only screen and (max-width:739px){
    .search{
        display: none;
    }
    .background-about h2.title {
        position: absolute;
        top: 50%;
        margin-left: 45%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .container{
        padding-right:40px !important;
        padding-left:40px !important;
    }
    /*member-team */
    .member-team{
        width:98%;
        border: 1px solid #0d0b26;
        background: #0d0b26;
        margin-left:1.3rem;
        padding:3rem 3rem;
        margin-top:1rem;
    }
    .img-member img{
        width:150px;
        height:150px;
        border-radius: 50%;
        margin-left:37%;

        display: inline-block;
        position: relative;
        overflow: hidden;
    }
    .member-icon a{
        margin-right:1rem;
    }
    /*contact */
    .information{
        width:98%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:98%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:98%;
        padding:2rem;
    }
}

/* tablet  */
@media only screen and (min-width:740px) and (max-width:1023px){
    .search{
        display: none;
    }
    .background-about h2.title {
        position: absolute;
        top: 50%;
        margin-left: 40%;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    /*member-team */
    .col-md-3{
        max-width:50% !important;
    }
    .Team{
        justify-content: center;
    }
    /*contact */
    .information{
        width:49%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .compet-game{
        width:49%;
        padding:2rem 1rem;
    }
    .subscribe{
        width:49%;
        padding:2rem;
    }
    
}